.menu {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, .3);
  justify-content: flex-end;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility .15s, opacity .15s linear;
}

.menu_visible {
  visibility: visible;
  opacity: 1;
}

.menu__sidebar {
  background-color: #202020;
  position: relative;
  width: 0;
  transition: width .15s linear;
}

.menu__sidebar_visible {
  width: 520px;
}

@media screen and (max-width: 600px) {
  .menu__sidebar_visible {
    width: 100%;
  }
}

.menu__close-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url("../../images/close-ico.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  top: 22px;
  right: 22px;
}

@media screen and (max-width: 600px) {
  .menu__close-btn {
    top: 13px;
    right: 13px;
  }
}
