.error-msg {
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  height: 120px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  transition: visibility .1s linear, opacity .1s linear;
}

.error-msg_place_auth {
  position: absolute;
  bottom: 55px;
}

.error-msg_visible {
  opacity: 1;
  visibility: visible;
}

.error-msg__header {
  display: flex;
  margin: 4px;
  padding-bottom: 4px;
  border-bottom: #8b8b8b solid 2px;
}

.error-msg__icon {
  width: 24px;
  height: 24px;
  background-image: url("../../images/error-ico.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.error-msg__header-title {
  margin: 0 0 0 10px;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.error-msg__close-btn {
  margin-left: auto;
  border: none;
  width: 24px;
  height: 24px;
  background-color: #202020;
  background-image: url("../../images/close-ico.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transition: opacity .3s linear;
}

.error-msg__close-btn:hover {
  opacity: .5;
}

.error-msg__text {
  margin: 0;
  padding: 4px;
  flex-grow: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}
