.logo {
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .3s linear;
}

.logo:hover {
  opacity: .7;
}

.logo_place_auth {
  margin-top: 70px;
}

@media screen and (max-width: 900px) {
  .logo_place_auth {
    margin-top: 232px;
  }
}

@media screen and (max-width: 600px) {
  .logo_place_auth {
    margin-top: 56px;
  }
}
