.header {
  background-color: #202020;
}

.header_place_main {
  background-color: #073042;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 18px 70px 18px 70px;
  box-sizing: border-box;
}

.header__auth-links {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.header__auth-link {
  margin-top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__auth-link_type_login {
  margin: 3px 0 0 30px;
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  color: #000;
  border-radius: 3px;
}

.header__auth-link:hover {
  opacity: .7;
}

