.techs {
  padding: 0 calc((100% - 1280px) / 2);
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__section-title {
  margin: 100px 70px 0 70px;
}

.techs__subtitle {
  margin: 89px 0 0 0;
  padding: 0;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__paragraph {
  margin: 26px 0 0 0;
  padding: 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__technologies-list {
  margin: 100px 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
}

.techs__technology-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  background: #303030;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  color: #fff;
}
