.techs {
  background-color: #272727;
}

.techs__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__section-title {
  margin: 100px 70px 0 70px;
}

@media screen and (max-width: 900px) {
  .techs__section-title {
    margin: 90px 50px 0 50px;
  }
}

.techs__subtitle {
  margin: 89px 0 0 0;
  padding: 0;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .techs__subtitle {
    margin-top: 80px;
  }
}

.techs__paragraph {
  margin: 26px 0 0 0;
  padding: 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .techs__paragraph {
    margin-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.techs__technologies-list {
  margin: 100px 70px 90px 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .techs__technologies-list {
    margin: 83px 50px 82px 50px;
  }
}

.techs__technology-item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  background: #303030;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__technology-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .techs__technology-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 1.25;
  }
}
